@page "{id:int}"
@model lmsextreg.Pages.Enrollments.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ProgramEnrollment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProgramEnrollment.LMSProgramID" />
            <input type="hidden" asp-for="ProgramEnrollment.StudentUserId" />
            <div class="form-group">
                <label asp-for="ProgramEnrollment.ApproverUserId" class="control-label"></label>
                <input asp-for="ProgramEnrollment.ApproverUserId" class="form-control" />
                <span asp-validation-for="ProgramEnrollment.ApproverUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgramEnrollment.UserCreated" class="control-label"></label>
                <input asp-for="ProgramEnrollment.UserCreated" class="form-control" />
                <span asp-validation-for="ProgramEnrollment.UserCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgramEnrollment.DateCreated" class="control-label"></label>
                <input asp-for="ProgramEnrollment.DateCreated" class="form-control" />
                <span asp-validation-for="ProgramEnrollment.DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgramEnrollment.UserLastUpdated" class="control-label"></label>
                <input asp-for="ProgramEnrollment.UserLastUpdated" class="form-control" />
                <span asp-validation-for="ProgramEnrollment.UserLastUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgramEnrollment.DateLastUpdated" class="control-label"></label>
                <input asp-for="ProgramEnrollment.DateLastUpdated" class="form-control" />
                <span asp-validation-for="ProgramEnrollment.DateLastUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
